{% extends 'base.html' %}


{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center display-3">
                Update task
            </h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="text-center">
                    <button class="btn btn-dark">
                        Update
                    </button>
                </div>
            </form>
            <div class=" text-center">
                <div class="py-2">
                    <form action="{% url 'complete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-secondary">
                            Mark as completed
                        </button>
                    </form>
                </div>
                <div>
                    <form action="{% url 'delete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger px-5">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{error}}
    </div>
</main>
{% endblock %}